*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color:whitesmoke;
}

.city-name {
    font-size: 30px;
}

.navbar-brand {
    font-size: 30px;
}

.search-header {
    font-size: 25px;
    font-weight: bold;
}


.row {
    display: flex;
    margin: 5px 5px 5px 0px;
}
